
Vital Skills/5301 Data Science as a Field/Week4_Elevator_Pitch.mp4
Grade Tracking - Shortcut.lnk
Vital Skills/5302 Cybersecurity/cyber attack psa.mp4
/other_resources
Statistical Modeling/5013 Generalized Linear Models and Nonparametric Regression/m_1/m_1_slides.pptx
Statistical Modeling/5013 Generalized Linear Models and Nonparametric Regression/m_3/m_3_slides.pptx
Databases/5733 Relational Database Design/m_5/Final Project_A Database for a Local Climbing Gym.mp4
Data Mining/5506 Data Mining Project/Project/Predicting Postnatal Depression During the COVID-19 Pandemic_ A Data Mining Approach.mp4
/Data Structures and Algorithms/5501 Algorithms for Searching, Sorting, and Indexing/other resources
